@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
.fix-01{
    background:#36393F; 
    box-shadow:0 2px 8px rgba(30,30,80,.3); /影。不要なら削除/
    left:0;
    line-height:1;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
    text-align:center;
    padding:1rem;
}
ul, ol {
  background: #fffcf4;
  border-radius :8px;/*角の丸み*/
  box-shadow :0px 0px 5px silver;/*5px=影の広がり具合*/
  padding: 0.5em 0.5em 0.5em 2em;
}
ul li, ol li {
  line-height: 1.5;
  padding: 0.5em 0;
}
.futoji{
    font-weight:900;
}
body {
    font-family: 'Noto Sans JP', sans-serif;
    }
